/* Reset CSS by Josh W Comeau */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/* Custom CSS Styles by Jennie Whittaker */


body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    color: #333; 
    text-align: center;
}


/*Left Align*/
.text-left {
    text-align: left;
}

/* Images */
.roundcorner {
    border-radius: 3%;
}

/* Buttons */
.btn-pokemon {
    background-color: #C03028;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 10px;
}
.btn-pokemon:hover {
    background-color: #FFD733;
    color: black;
}


/* Sections */
.fun-fact, .about-section {
    background-color: rgba(246, 237, 107, 0.619);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
    /*max-width: 45%;
    min-width: 300px; */
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    gap: 10px 10px;
    padding: 15px;
}

h2, h3 {
    font-family: 'Press Start 2P', cursive;
}

h5 {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
}

/* Carousel */
.mark {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.carousel {
    padding: 10px;
    color: #fff;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover; 
    object-position: bottom;
}


/* Navigation */

.navbar a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10%;
}
.pokecolour a {
    color: #FFD733 !important;
    font-weight: bold;
}
.pokecolour a:hover {
    color: #C03028 !important;
    
}

.nav-link.active {
    color:#C03028 !important;
}

/* Random Fact */

.fact-section {
    background-color: #354FA0;
    color: white; 
    padding: 30px 20px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.fact-section h3 {
    margin-bottom: 10px;
}

#random-fact {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Cards */
.card {
    max-width: 280px; /* Keeps them consistent in size */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    object-position: center;

}

.card-center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


/* Types Colours Pokedex*/

button.grass, .type-grass, .badge-grass {
    background-color: #78C850 !important;
    color: white !important;
}

button.fire, .type-fire, .badge-fire {
    background-color: #F08030 !important;
    color: white !important;
}

button.water, .type-water, .badge-water {
    background-color: #6890F0 !important;
    color: white !important;
}

button.poison, .type-poison, .badge-poison {
    background-color: #A040A0 !important;
    color: white !important;
}

button.bug, .type-bug, .badge-bug {
    background-color: #A8B820 !important;
    color: white !important;
}

button.flying, .type-flying, .badge-flying {
    background-color: #A890F0 !important;
    color: white !important;
}

button.electric, .type-electric, .badge-electric {
    background-color: #F8D030 !important;
    color: white !important;
}

button.ground, .type-ground, .badge-ground {
    background-color: #E0C068 !important;
    color: white !important;
}

button.fairy, .type-fairy, .badge-fairy {
    background-color: #EE99AC !important;
    color: white !important;
}

button.fighting, .type-fighting, .badge-fighting {
    background-color: #C03028 !important;
    color: white !important;
}

button.psychic, .type-psychic, .badge-psychic {
    background-color: #F85888 !important;
    color: white !important;
}

button.rock, .type-rock, .badge-rock {
    background-color: #B8A038 !important;
    color: white !important;
}

button.steel, .type-steel, .badge-steel {
    background-color: #B8B8D0 !important;
    color: black !important;
}

button.ice, .type-ice, .badge-ice {
    background-color: #98D8D8 !important;
    color: black !important;
}

button.ghost, .type-ghost, .badge-ghost {
    background-color: #705898 !important;
    color: white !important;
}

button.dragon, .type-dragon, .badge-dragon {
    background-color: #7038F8 !important;
    color: white !important;
}

/* Tab Pane Border Colour Styles */

.border-fire {
    border-left: 4px solid #F08030 !important;
  }

.border-water {
    border-left: 4px solid #6890F0 !important;
  }

.border-grass {
    border-left: 4px solid #78C850 !important;
  }

.border-electric {
    border-left: 4px solid #F8D030 !important;
  }

.border-ice {
    border-left: 4px solid #98D8D8 !important;
  }

.border-psychic {
    border-left: 4px solid #F85888 !important;
  }


/* Type Matrix Styles */

.effect-2x {
    background-color: #c9f7c3 !important; /* light green */
  }

.effect-1x {
background-color: #f8f9fa !important; /* neutral*/
}

.effect-05x {
background-color: #ffe7a0 !important; /* light amber */
}

.effect-0x {
background-color: #e2e3e5 !important; /* light grey */
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd; /* light grey */
    font-weight: bold;
    color: #212529;
}
  


/* Hover Styles PokeTypes */

.list-group-item:hover {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: white !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.50);
  }

/* Active Types Poketypes */

.list-group-item.active {
    background-color: transparent !important;
    color: #212529 !important;
    border: 1px solid #212529 !important; /* dark grey/black */
    font-weight: bold;
  }

/* Align tab content text to the left */
.tab-pane {
    text-align: left;
  }


/* Media Queries */

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }
    .fun-fact, .about-section {
        max-width: 80%;
    }
}

/* Limit Intro image size on mobile and centre align */
.pokedex-img {
    max-width: 100%;
    height: auto;
  }

@media (max-width: 768px) {
    .pokedex-img {
      max-width: 150px;
      margin: 0 auto;
      display: block;
    }
}
/* Hide the type matrix on mobile */
@media (max-width: 767.98px) {
    .type-matrix {
      display: none;
    }
  }